
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333;
    color: #fff;
}
.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin-left: 1.5rem;
}

.nav-list li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.nav-list li a:hover {
    color: #ddd;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 4px;
}

/* Mobile View */
@media (max-width: 768px) {
    .nav-list {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
        flex-direction: column;
        width: 100%;
        padding: 1rem;
    }

    .nav-list li {
        margin: 1rem 0;
        text-align: center;
    }

    .hamburger {
        display: flex;
    }

    .nav-list.active {
        display: flex;
    }
}
.alert {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
.alert-info {
    background-color: #4a22cd;
    border-color: #bce8f1;
}
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.5rem;
    color: #d1ca4d;
    
}