{% extends 'base.html'%}
{% block link_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='conreq.css') }}">
{% endblock %}
{% block content %}
<div class="table-container">
    <h1>Product List</h1>
    <table>
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Product price</th>
                <th>item quantity</th>
                <th>Buyer email</th>
                <th>Mobile number</th>
                <th>order date</th>
            </tr>
        </thead>
        <tbody>
         {% for item in  items %}
            <tr>
                <td>{{ item.ProductName }}</td>
                <td>{{ item.ProductPrice }}</td>
                <td>{{ item.ProductSize }}</td>
                <td>{{ item.BuyerEmail }}</td>
                <td>{{ item.BuyerContact }}</td>
                <td>{{ item.OrederDate }}</td>
            </tr>
         {% endfor %}
        </tbody>
    </table>
</div>
{%endblock%} 