{% extends 'base.html'%}
{% block link_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='shop.css') }}">
{% endblock %}
{% block button_content %}
<li><a href="{{ url_for('cart') }}"><span class="cart-icon">&#128722;</span></a></li>
{% endblock %}
{% block content%}
   {%if items%}
   <div class="container">
    {% for item in items %}
    <div class="cart-container">
        <div class="product-image">
            <img src="{{ url_for('static', filename='/images/yashu mashetty.jpg') }}" alt="Amul Taaza Milky Milk">
            <div class="delivery-time">10 mins</div>
        </div>
        <div class="product-details">
            <h3 class="product-title">{{item.ProductName}}</h3>
            <p class="product-size">{{item.ProductSize}}</p>
            <p class="product-price">{{item.ProductPrice}}</p>
            <div class="quantity-controls">
                <span class="quantity-value" id="quantity-{{ item.ProductName }}">1</span>
                <button class="quantity-btn" onclick="updateQuantity('{{ item.ProductName }}', '{{ item.ProductPrice }}','{{ item.ProductId }}')">+</button>
            </div>
            
        </div>
    </div>
    <script>
        function updateQuantity(productName, productPrice,ProductId) {
            // Prepare data to send to the server
            const data = {
                productName: productName,
                productPrice: productPrice,
                productId: ProductId
            };
    
            // Send data to Flask using fetch API
            fetch('/update_quantity', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(result => {
                console.log('Success:', result);
                alert(result.message);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>    
    
    {%endfor%}
</div>
{%else%}
<h2>no item left</h2>
{%endif%}

{% endblock %}